flows5.json
[{"id":"e89c624e.007a7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e7be2eae.107d3","type":"http in","z":"e89c624e.007a7","name":"Setgpio5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["516dcc5a.ad3124","2b13827.d115b7e"]]},{"id":"516dcc5a.ad3124","type":"function","z":"e89c624e.007a7","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["56c7d8fc.1053f8"]]},{"id":"56c7d8fc.1053f8","type":"rpi-gpio out","z":"e89c624e.007a7","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":510,"y":100,"wires":[]},{"id":"2b13827.d115b7e","type":"function","z":"e89c624e.007a7","name":"HIGH","func":"msg.payload =\"GPIO set to HIGH\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["214a2c55.73be14","25b2a43e.c3ba7c"]]},{"id":"214a2c55.73be14","type":"http response","z":"e89c624e.007a7","name":"","statusCode":"","headers":{},"x":540,"y":220,"wires":[]},{"id":"25b2a43e.c3ba7c","type":"debug","z":"e89c624e.007a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":300,"wires":[]},{"id":"3b82b34b.a480ac","type":"http in","z":"e89c624e.007a7","name":"set 0","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":180,"wires":[["dd2499b3.72bf38","1182676e.8ee679"]]},{"id":"dd2499b3.72bf38","type":"function","z":"e89c624e.007a7","name":"set to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["56c7d8fc.1053f8"]]},{"id":"1182676e.8ee679","type":"function","z":"e89c624e.007a7","name":"LOW","func":"msg.payload =\"GPIO set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["214a2c55.73be14","25b2a43e.c3ba7c"]]}]