flows4.json
[{"id":"ba2b8542.5f9f18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3d1068db.bcad68","type":"http in","z":"ba2b8542.5f9f18","name":"","url":"/pin7","method":"get","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["f9432b49.7ed4a8"]]},{"id":"40bcb3e6.66629c","type":"rpi-gpio in","z":"ba2b8542.5f9f18","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":300,"wires":[["cb2daa90.d5dc58"]]},{"id":"cb2daa90.d5dc58","type":"function","z":"ba2b8542.5f9f18","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["6002bc11.088af4"]]},{"id":"f9432b49.7ed4a8","type":"function","z":"ba2b8542.5f9f18","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["6002bc11.088af4","49f4f34d.652bbc"]]},{"id":"6002bc11.088af4","type":"debug","z":"ba2b8542.5f9f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":340,"wires":[]},{"id":"49f4f34d.652bbc","type":"http response","z":"ba2b8542.5f9f18","name":"","statusCode":"","headers":{},"x":620,"y":180,"wires":[]}]